h1 {
    text-align: center;
    color: white;
}

body {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.conteneur {
    box-shadow: inset 0 0 131px rgb(236, 5, 5), 0 0 148px rgb(243, 5, 5);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 100px;
}

form {
    display: grid;

}
label {
    color:blanchedalmond;
}
.ali {
    text-align: center;
    margin-left: 40%;
}